aside {
  display: none;
}

@media (min-width: 900px){
  aside {
    display: block;
    align-items: flex-start;
    flex-direction: row;
    @include center-item();
  }

  #aside-left {
    @include center-item();
    width: 235px;
    min-width: 235px;
    background-color: #FFF;
    border: 1px solid lightgray;
  }
  #aside-right {
    @include center-item();
    width: 320px;
    min-width: 320px;
    background-color: #FFF;
    border: 1px solid lightgray;
  }
}
//ASIDE LEFT//
.aside-left_container1{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
/*   border: 1px solid green; */
  width: 230px;

}
.aside-left1-_devCommunity_container{
  h4{
    margin-left: 5px;
    margin:0;
  }
  .aside-left_list{
    list-style: none;
    padding: 0px;
    margin-top: 8px;
    .aside-left_item{
      text-decoration: none;
      color:black;
      .aside-left_image{
        width: 24px;
        height: 24px;
      }
    }

  }
  li{
    padding: 8px;
  }
}
.aside-left_other_container{
  h4{
    margin-left: 5px;
    margin:0;
  }
  .aside-left_list{
    list-style: none;
    padding: 0px;
    margin-top: 8px;
    .aside-left_item{
      text-decoration: none;
      color:black;
      .aside-left_image{
        width: 24px;
        height: 24px;
      }
    }

  }
  li{
    padding:8px;
  }
}
.aside-left_socialmedia{
  margin-top: 16px;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;

  list-style: none;
    .aside-left_image_social{
    fill: gray;
  }
}
.aside-left_stickers_container{
  display: flex;
  justify-content: space-between;
  width: 220px;
  height: 120px;
  .aside-left_image_social{
    width: 24px;
    height: 24px;
  }
  h4{
    margin-left: 5px;
    margin:0;
  }
}
.aside-left_stickers_container_img{
  display:flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .aside-left_image_social{
    max-width: 220px;
    max-height: 330px;
  }
} 