aside {
  display: none;
}

@media (min-width: 900px){
  aside {
    display: block;
    align-items: flex-start;
    @include center-item();
  }

  #aside-left {
    @include center-item();
    width: 235px;
    min-width: 235px;
    background-color: #FFF;
    border: 1px solid lightgray;
  }
  #aside-right {
    @include center-item();
    width: 320px;
    min-width: 320px;
    background-color: #FFF;
    border: 1px solid lightgray;
  }
}