  .navbar {
    display: flex;
    flex-direction: row;
    height: 56px;
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    align-items: center;
    background-color: #fff;
    width: 100%;

    .home {
      display: flex;
      flex-direction: row;
      margin-right: 1rem;

      .hamburguesa {
        visibility: visible;

        @media (min-width: 780px) {
          visibility: hidden;
        }
      }

      img {
        width: 50px;
        height: 40px;
        border-radius: 3px;
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 25%;
      margin-left: auto;

      .btn-createPost>button {
        background-color: #323ebe;
        color: #fff;
        font-weight: 700;
        letter-spacing: .02rem;
        border-radius: 5px;
        padding: 8px 16px;
        visibility: visible;
        min-width: 5rem;

        &:hover {
          background-color: #2d38ac;
          transition: .2s;
        }

        @media (max-width: 780px) {
          visibility: hidden;
        }
      }

      .btn-connect {
        margin: 0 4px;
        border-radius: 50%;
        padding: 8px;

        &:hover {
          background-color: #dadada;
          transition: .2s;
        }

        .btn-connect>img {
          width: 24px;
          height: 24px;
        }
      }
      .btn-notifications {
        margin: 0 4px;
        border-radius: 50%;
        padding: 8px;

        &:hover {
          background-color: #dadada;
          transition: .2s;
        }

        .btn-notifications>img {
          width: 24px;
          height: 24px;
        }
      }

      .btn-avatar {
        margin: 0 4px;
        border-radius: 50%;
        padding: 8px;

        .btn-avatar>img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
      }


      .btn-avatar>img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .search {
    width: 402px;
    min-width: 386px;
    border-style: none;

    .search-bar{
      height: 40px;
      border-radius: 5px;
      width: 100%;
      padding: 0.25rem 0 0 .5rem;
      border: 1px solid #a7a6a6;

      &::-webkit-input-placeholder {
        font-size: 1rem;
      }

      &:focus-visible {
        border: 1px solid #dadada;
        box-shadow: 2px 2px 4px  #0419f7;
        background-color: rgba(167, 166, 166, .1);
      }
    }
  }
  


