  .navbar {
    display: flex;
    flex-direction: row;
    height: 56px;
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    align-items: center;
    background-color: #fff;
    width: 100%;

    .home {
      display: flex;
      flex-direction: row;
      margin-right: 1rem;

      .hamburguesa {
        visibility: visible;

        @media (min-width: 780px) {
          visibility: hidden;
        }
      }

      img {
        width: 50px;
        height: 40px;
        border-radius: 3px;
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 25%;
      margin-left: auto;

      .btn-createPost>button {
        background-color: #323ebe;
        color: #fff;
        font-weight: 700;
        letter-spacing: .02rem;
        border-radius: 5px;
        padding: 8px 16px;
        visibility: visible;

        @media (max-width: 780px) {
          visibility: hidden;
        }
      }

      .btn-connect {
        margin: 0 4px;
        border-radius: 50%;
        padding: 8px;

        .btn-connect>img {
          width: 24px;
          height: 24px;
        }
      }
      .btn-notifications {
        margin: 0 4px;
        border-radius: 50%;
        padding: 8px;

        .btn-notifications>img {
          width: 24px;
          height: 24px;
        }
      }

      .btn-avatar {
        margin: 0 4px;
        border-radius: 50%;
        padding: 8px;

        .btn-avatar>img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
      }


      .btn-avatar>img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .search {
    width: 402px;
    min-width: 386px;

    .search-bar{
      align-items: flex-start;
      height: 40px;
      border-radius: 5px;
      width: 100%;
    }
  }
  


