$color-text-dark: #08090A;
$bg-color-light: #F9FAFA;
$bg-body: #eef0f1;
$color-item-link: rgb(59, 73, 223);
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
@import url(_variables.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-body;
  font-family: $font-family;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin reset-a {
  text-decoration: none;
  color: $color-text-dark;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em .75em;
}
.main-header__primary-title {
  font-size: 1.25em;
}
.main-header__selected-nav {
  padding: .5em .6em;
  background-color: $bg-color-light;
  color: $color-text-dark;
}

.main-header__container-nav {
  display: none;
}
.content-post {
  padding: 0 .75em .75em .75em;
}
.article-post {
  display: flex;
  flex-direction: column;
  border-radius: .5em;
  border-width: 1px;
  border-style: solid;
  border-color: lighten($color-text-dark, 80%);
  background-color: $bg-color-light;
  &:not(:last-child) {
    margin-bottom: .75em;
  }
}
.article-post__image img{
  vertical-align: top;
  width: 100%;
  border-radius: .5em .5em 0 0;
}
.article-post__content {
  padding: 1em;
}
.article-post__user-description {
  display: flex;
}
.article-post__avatar img {
  border-radius: 50%;
  width: 2em;
  margin-right: .75em;
}
.article-post__user-info p {
  font-size: .9em;
  color: $color-text-dark;

  &:hover {
    background-color: #00000011;
    border-radius: 5px;  
  }
}
.article-post__user-info time {
  font-size: .75em;
  color: lighten($color-text-dark, 50%);

  &:hover {
    color: $color-text-dark;  
  }
}
.article-post__title a{
  @include reset-a;
  &:hover {
    color: $hover-articles-color;
  }
}

.article-post__tags a {
  @include reset-a;
  color: lighten($color-text-dark, 50%);
  font-size: .85em;
  &:not(:first-child){
    padding-left: .75em;
  }
  &:before {
    content: "#";
    color: lighten($color-text-dark, 50%);
  }

  &:hover {
    color: $color-text-dark;
  }
}
.article-post__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-reactions-comments__reactions,
content-reactions-comments__reactions {
  @include reset-a;
  font-size: .9em;
  color: lighten($color-text-dark, 20%);
  &:not(:first-child){
    padding-left: .75em;
  }

  &:hover {
    background-color: #00000011;
    border-radius: 5px;
  }
}
.content-reactions-comments img {
  vertical-align: middle;
}
.content-released__time {
  font-size: .75em;
  color: lighten($color-text-dark, 50%);

  &hover {
    color: #64707d;
  }
  
}
.content-released__button {
  background-color: #D2D6DB;
  border: none;
  outline: none;
  padding: .5rem .75rem;
  margin-left: .35rem;
  border-radius: 5px;
  color: #363D44; 

  &:hover {
    background-color: #b5bdc4;
  }
}

@media (max-width: 425px) {
  .d-none-xs {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-header__selected-nav {
    display: none;
  }
  .main-header__container-nav {
    display: block;
  }
  .ul-nav {
    @include reset-list;
    display: flex;
  }

  .ul-nav__nav-item {
    &:hover {
      background-color: #3b49df1a;
    }
  }
  .ul-nav__item-link {
    @include reset-a;
    display: block;
    padding: .75em;

    &:hover {
      color: #3b49df;
    }
  }
  .ul-nav__item-link-active {
    @extend .ul-nav__item-link;
    margin: 0 .25em;
    font-weight: bold;
    position: relative;
    &::after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      height: 3px;
      width: calc(80% - 1.2rem);
      background-color: $color-item-link;
    }

    &:hover {
      width: calc(140% - 1.5rem);
      transition: .2s;
    }
  }
  .article-post__description,
  .article-post__social {
    margin-left: 44px;
  }
}
