@import 'variables';

@mixin center-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
@import 'asides';
@import 'posts';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  background-color: #eef0f1;
}
#main-menu {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  position: sticky;
  top:0;
  &>div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  img{
    width: 45px;
  }

}
.avatar>img{
  border-radius: 50%;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

main {
  width: 100%;
  .posts-menu {
    @include center-item();
    height: 50px;
    border: 1px solid black;
  }
}



