@import 'variables';

@mixin center-item {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  flex-direction: column;
}
@import 'asides';
@import 'posts';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  background-color: #eef0f1;
}
#main-menu {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  position: sticky;
  top:0;
  &>div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  img{
    width: 45px;
  }

}
.avatar>img{
  border-radius: 50%;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

main {
  width: 100%;
  .posts-menu {
    @include center-item();
    height: 50px;
    border: 1px solid black;
  }
}
.aside-left_list{
  text-decoration: none;
  list-style: none;
  margin-top: 0;

}
.aside-left_item{
  text-decoration: none;
  margin: 10px;
  color:black

}
.aside-left_item:hover{
/*     background-color: lightblue; */
  color:blue;
}

li:hover{
  background-color: lightblue;
/*     color:black; */
}
a{
  display: flex;
  align-items: center;
}
.aside-left_image{
  max-width: 24px;
  max-height: 24px;
  margin-right: 8px;
}
ul{
  padding: 0;
}
h4{
  margin:0;
}
.aside-left_socialmedia{
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
}

.aside-left_socialmedia{
  list-style: none;
  padding: 0;
  .aside-left_image{
    fill: gray;
  }
}
.aside-left_container_secondary{
  display: flex;
  background-color: lightgray;
  margin: 5px;
  height: 250px;
  width: 220px;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  #aside-left_container_btn{
    background-color: $nav-button-background;
    border-radius: 5px;
    padding: 8px;
    padding-inline-end: 16px;
    border: none;
    margin: 5px;
    width: 180px;
    color: rgb(249, 250, 250);
    font-weight:solid;
    font-size: 16px;
    font-weight: 500;
  }
  .aside-left_container_secondary_innertext_tittle{
    color:$nav-button-background;
    font-size: 18x;
    font-weight: 700;

  }
  .aside-left_container_secondary_innertext_bold{
    font-weight: bold;
  }
  .aside-left_container_btn h3{
    text-align: center;
    color: $nav-button-background;
    font-weight: 500;

  }
}
.aside-left_container_secondary_innertext{
  margin-bottom: 15px;
}
.aside-left_socialmedia{
  .aside-left_item{
    margin: 5px;
  }
}
.aside-left_devsticker{
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  flex-direction: column;


  img{
    margin: 8px;
    margin-bottom: 0px;
    max-height: 100%;
    max-width: 100%;
  }
}