aside {
  display: none;
}

@media (min-width: 900px) {
  aside {
    display: block;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #aside-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 235px;
    min-width: 235px;
    background-color: #FFF;
    border: 1px solid lightgray;
  }
  #aside-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 320px;
    min-width: 320px;
    background-color: #FFF;
    border: 1px solid lightgray;
  }
}

.aside-left_container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /*   border: 1px solid green; */
  width: 230px;
}

.aside-left1-_devCommunity_container h4 {
  margin-left: 5px;
  margin: 0;
}

.aside-left1-_devCommunity_container .aside-left_list {
  list-style: none;
  padding: 0px;
  margin-top: 8px;
}

.aside-left1-_devCommunity_container .aside-left_list .aside-left_item {
  text-decoration: none;
  color: black;
}

.aside-left1-_devCommunity_container .aside-left_list .aside-left_item .aside-left_image {
  width: 24px;
  height: 24px;
}

.aside-left1-_devCommunity_container li {
  padding: 8px;
}

.aside-left_other_container h4 {
  margin-left: 5px;
  margin: 0;
}

.aside-left_other_container .aside-left_list {
  list-style: none;
  padding: 0px;
  margin-top: 8px;
}

.aside-left_other_container .aside-left_list .aside-left_item {
  text-decoration: none;
  color: black;
}

.aside-left_other_container .aside-left_list .aside-left_item .aside-left_image {
  width: 24px;
  height: 24px;
}

.aside-left_other_container li {
  padding: 8px;
}

.aside-left_socialmedia {
  margin-top: 16px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

.aside-left_socialmedia .aside-left_image_social {
  fill: gray;
}

.aside-left_stickers_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
  height: 120px;
}

.aside-left_stickers_container .aside-left_image_social {
  width: 24px;
  height: 24px;
}

.aside-left_stickers_container h4 {
  margin-left: 5px;
  margin: 0;
}

.aside-left_stickers_container_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.aside-left_stickers_container_img .aside-left_image_social {
  max-width: 220px;
  max-height: 330px;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  background-color: #FFF;
  border: 1px solid lightgray;
  min-height: 300px;
  border-radius: 5px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  background-color: #eef0f1;
}

#main-menu {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#main-menu > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-menu img {
  width: 45px;
}

.avatar > img {
  border-radius: 50%;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main {
  width: 100%;
}

main .posts-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  border: 1px solid black;
}
/*# sourceMappingURL=style.css.map */