@import url(_variables.scss);
aside {
  display: none;
}

@media (min-width: 780px) {
  aside {
    display: block;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #aside-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 235px;
    min-width: 235px;
  }
  #aside-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 320px;
    min-width: 320px;
    background-color: #FFF;
    border: 1px solid lightgray;
  }
}

.devCommunity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.aside-left_list {
  text-decoration: none;
  list-style: none;
  margin-top: 0;
}

.aside-left_item {
  text-decoration: none;
  margin: 10px;
  color: black;
}

.aside-left_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-left_item .aside-left_item:hover {
  /*     background-color: lightblue; */
  color: blue;
}

.aside-left_item .aside-left_item:hover {
  background-color: lightblue;
  /*     color:black; */
}

.aside-left_image {
  max-width: 24px;
  max-height: 24px;
  margin-right: 8px;
}

.aside-left_list {
  padding: 0;
}

.aside-left_socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
}

.aside-left_socialmedia .aside-left_image {
  fill: gray;
}

.aside-left_container_secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: lightgray;
  margin: 5px;
  height: 250px;
  width: 220px;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aside-left_container_secondary #aside-left_container_btn {
  background-color: #3b49df;
  border-radius: 5px;
  padding: 8px;
  -webkit-padding-end: 16px;
          padding-inline-end: 16px;
  border: none;
  margin: 5px;
  width: 180px;
  color: #f9fafa;
  font-weight: solid;
  font-size: 16px;
  font-weight: 500;
}

.aside-left_container_secondary .aside-left_container_secondary_innertext_tittle {
  color: #3b49df;
  font-size: 18x;
  font-weight: 700;
}

.aside-left_container_secondary .aside-left_container_secondary_innertext_bold {
  font-weight: bold;
}

.aside-left_container_secondary .aside-left_container_btn h3 {
  text-align: center;
  color: #3b49df;
  font-weight: 500;
}

.aside-left_container_secondary_innertext {
  margin-bottom: 15px;
}

.aside-left_socialmedia .aside-left_item {
  margin: 5px;
}

.aside-left_devsticker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*   .aside-left_devsticker>img{
    margin: 8px
    margin-bottom: 0px;
    max-height: 100%;
    max-width: 100%;
  } */
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #eef0f1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em .75em;
}

.main-header__primary-title {
  font-size: 1.25em;
}

.main-header__selected-nav {
  padding: .5em .6em;
  background-color: #F9FAFA;
  color: #08090A;
}

.main-header__container-nav {
  display: none;
}

.content-post {
  padding: 0 .75em .75em .75em;
}

.article-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: .5em;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d5da;
  background-color: #F9FAFA;
}

.article-post:not(:last-child) {
  margin-bottom: .75em;
}

.article-post__image img {
  vertical-align: top;
  width: 100%;
  border-radius: .5em .5em 0 0;
}

.article-post__content {
  padding: 1em;
}

.article-post__user-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-post__avatar img {
  border-radius: 50%;
  width: 2em;
  margin-right: .75em;
}

.article-post__user-info p {
  font-size: .9em;
  color: #08090A;
}

.article-post__user-info p:hover {
  background-color: #00000011;
  border-radius: 5px;
}

.article-post__user-info time {
  font-size: .75em;
  color: #7b8996;
}

.article-post__user-info time:hover {
  color: #08090A;
}

.article-post__title a {
  text-decoration: none;
  color: #08090A;
}

.article-post__title a:hover {
  color: #323ebe;
}

.article-post__tags a {
  text-decoration: none;
  color: #08090A;
  color: #7b8996;
  font-size: .85em;
}

.article-post__tags a:not(:first-child) {
  padding-left: .75em;
}

.article-post__tags a:before {
  content: "#";
  color: #7b8996;
}

.article-post__tags a:hover {
  color: #08090A;
}

.article-post__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-reactions-comments__reactions,
content-reactions-comments__reactions {
  text-decoration: none;
  color: #08090A;
  font-size: .9em;
  color: #353c43;
}

.content-reactions-comments__reactions:not(:first-child),
content-reactions-comments__reactions:not(:first-child) {
  padding-left: .75em;
}

.content-reactions-comments__reactions:hover,
content-reactions-comments__reactions:hover {
  background-color: #00000011;
  border-radius: 5px;
}

.content-reactions-comments img {
  vertical-align: middle;
}

.content-released__time {
  font-size: .75em;
  color: #7b8996;
}

.content-released__timehover {
  color: #64707d;
}

.content-released__button {
  background-color: #D2D6DB;
  border: none;
  outline: none;
  padding: .5rem .75rem;
  margin-left: .35rem;
  border-radius: 5px;
  color: #363D44;
}

.content-released__button:hover {
  background-color: #b5bdc4;
}

@media (max-width: 425px) {
  .d-none-xs {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-header__selected-nav {
    display: none;
  }
  .main-header__container-nav {
    display: block;
  }
  .ul-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ul-nav__nav-item:hover {
    background-color: #3b49df1a;
  }
  .ul-nav__item-link, .ul-nav__item-link-active {
    text-decoration: none;
    color: #08090A;
    display: block;
    padding: .75em;
  }
  .ul-nav__item-link:hover, .ul-nav__item-link-active:hover {
    color: #3b49df;
  }
  .ul-nav__item-link-active {
    margin: 0 .25em;
    font-weight: bold;
    position: relative;
  }
  .ul-nav__item-link-active::after {
    display: block;
    position: absolute;
    content: "";
    bottom: 0;
    height: 3px;
    width: calc(80% - 1.2rem);
    background-color: #3b49df;
  }
  .ul-nav__item-link-active:hover {
    width: calc(140% - 1.5rem);
    -webkit-transition: .2s;
    transition: .2s;
  }
  .article-post__description,
  .article-post__social {
    margin-left: 44px;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 56px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 100%;
}

.navbar .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 1rem;
}

.navbar .home .hamburguesa {
  visibility: visible;
}

@media (min-width: 780px) {
  .navbar .home .hamburguesa {
    visibility: hidden;
  }
}

.navbar .home img {
  width: 50px;
  height: 40px;
  border-radius: 3px;
}

.navbar .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  margin-left: auto;
}

.navbar .buttons .btn-createPost > button {
  background-color: #323ebe;
  color: #fff;
  font-weight: 700;
  letter-spacing: .02rem;
  border-radius: 5px;
  padding: 8px 16px;
  visibility: visible;
}

@media (max-width: 780px) {
  .navbar .buttons .btn-createPost > button {
    visibility: hidden;
  }
}

.navbar .buttons .btn-connect {
  margin: 0 4px;
  border-radius: 50%;
  padding: 8px;
}

.navbar .buttons .btn-connect .btn-connect > img {
  width: 24px;
  height: 24px;
}

.navbar .buttons .btn-notifications {
  margin: 0 4px;
  border-radius: 50%;
  padding: 8px;
}

.navbar .buttons .btn-notifications .btn-notifications > img {
  width: 24px;
  height: 24px;
}

.navbar .buttons .btn-avatar {
  margin: 0 4px;
  border-radius: 50%;
  padding: 8px;
}

.navbar .buttons .btn-avatar .btn-avatar > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.navbar .buttons .btn-avatar > img {
  width: 32px;
  height: 32px;
}

.search {
  width: 402px;
  min-width: 386px;
}

.search .search-bar {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 40px;
  border-radius: 5px;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  background-color: #eef0f1;
}

#main-menu {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#main-menu > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-menu img {
  width: 45px;
}

.avatar > img {
  border-radius: 50%;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main {
  width: 100%;
}

main .posts-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  border: 1px solid black;
}

.aside-right-main-container {
  -ms-grid-rows: 1fr 4fr 1fr;
      grid-template-rows: 1fr 4fr 1fr;
  margin: 0 auto;
  background: var(--card-color);
  color: #2b2b2b;
  width: 420px;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside-right-main-container .right_header_img {
  width: 100px;
  margin: 0 auto;
}

.aside-right-main-container .right_header-container {
  width: 80%;
}
/*# sourceMappingURL=styles-2.css.map */