
body{
    font-family:sans-serif;
    color:gray;
}
.aside-right-main-container{
    font-family: sans-serif;
    float:right;
    display:inline-grid;
    grid-template-rows: 1fr 4fr 1fr;
    height:100%;
    margin: 0 auto;
    background: var(--card-color);
    color:rgb(43, 43, 43);
    width: 350px;
    padding: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
    border-radius: 10px; 
    z-index:var(--z-drawer);
    /*display:block;*/
    position:relative;
    top:0;
    bottom:0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 200px;
    width: 330px;



    
   /* -webkit-overflow-scrolling:touch */ 
            
}

.Listings{
            
    margin: -20px;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
}
.first_article_listings{
    background: var(--card-body-color);
    margin: -20px;
    padding: 20px;
    border-radius: 00px 00px 20px 20px;
}

.footer_listing_container{
    background: var(--card-footer-color);
    margin: -20px;
    padding: 20px;
    border-radius: 00px 00px 20px 20px;
    display: flex;
    justify-content: space-between
}
@font-face {
        font-family: font-family: 'Open Sans', sans-serif;;
        src: url(<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">);
}


span {
    display:grid;
    grid-row:initial;
}


/*  .right_header-container{

    float:right;
    display:inline-grid;
    margin: 0 auto;
    background: var(--card-color);
    color:rgb(105, 40, 40);
    width: 350px;
    padding: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
    border-radius: 10px; 
    z-index:var(--z-drawer);
    position:relative;
    top:0;
    bottom:0;
    -webkit-overflow-scrolling:touch 

}*/
/*
.listings-container {
    display: flex;
    align-content: space-around;
    float:right;
    display:inline-grid;
    margin: 0 auto;
    background: var(--card-color);
    color:rgb(105, 40, 40);
    width: 350px;
    padding: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
    border-radius: 10px; 
    z-index:var(--z-drawer);
    display:block;
    position:relative;
    top:0;
    bottom:0;
    -webkit-overflow-scrolling:touch 
    display:flex;
    flex-direction: column;
    border-top-width: 0.1px;
    border-right-width: 0.1em;
    border-bottom-width: thick;
    border-left-width: thin;
  }*/



div {
    /*display:inline-grid;
    grid-template-columns:minmax();*/
    padding-left:  5px;
    padding-right: 5px;
    margin-left:   3px;
    margin-right:  3px;
    border: 0px solid black;
  }

  
.join{
    text-align-last: right;
}
/*
.listings-container{
    display:flex;
    flex-direction: column;
    
}*/

/*
.news{
    display:flex;
    flex-direction: column;
    float:right;
    display:inline-grid;
    margin: 0 auto;
    background: var(--card-color);
    color:rgb(105, 40, 40);
    width: 350px;
    padding: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
    border-radius: 10px; 
    z-index:var(--z-drawer);
    display:block;
    position:relative;
    top:0;
    bottom:0;
    -webkit-overflow-scrolling:touch 
}*/
.newindicator{

    display: inline-block;     
    max-width: min-content;   
    padding-left:  5px;
    padding-right: 5px;
    margin-left:   3px;
    margin-right:  3px;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: blue;
    color: white;

}

.eventsrightsection{

    flex-direction: column;
    align-content: space-around;
}

section {

    display: flex;
    flex-direction: column;
}


a:hover {
    color: var(--card-body-color);
    background:white;
}

section {
    display: flex;
    flex-direction: column;
       }


